body ,html{
  max-width: 1000px; 
  background-color: rgb(180, 179, 179);
}

header{
  background-color:#ccc;
  align-content:"inline-block";
  margin: 15px;
  padding: 20px;
  }

      header h1{
          padding: 30px 20px 10px 10px;
          float:left;
          font-style: italic;
      }
      
main {
  background-color: #ccc;
  margin: 15px;
  padding: 20px;
   }

   main h3{
    font-style: italic;
    text-decoration: underline;
   }

  main p{
      padding:10px;
      text-align:justify;
  }